<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Frontend Pasis">
    <meta name="keywords" content="frontend, pasis, frontend-pasis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    {% block css %}
    {% endblock css %}
    {% block js %}
    {% endblock js %}
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h1>Pasis Medios de Pago</h1>
      </nav>
    </header>
    <main class="container">
      {% block content %}
        Base content
      {% endblock content %}
    </main>
    <footer>
      <h1>Pasis Medios de Pago</h1>
    </footer>
  </body>
</html>
